/* Application Identity */
$logo_color_common: #8b8b8b !default;
$logo_size_common: 14px;
$page_title_size_common: 18px;

/* Element: Buttons */
$btn_small_square_size: 20px;
$btn_small_square_radius: 5px;
$btn_small_margin_size: 10px;
$btn_small_padding_size: 5px;

/* Commons */
$red_normal: red;
$gray_dark: #c4c4c4;
$gray_dark_text: #656565;
$gray_normal: #dcdcdc;
$gray_light: #f6f6f6;
$is-danger: $red_normal;
$color-transition: 0.1s ease-in-out;
$normal-margin-top: 10px;

$radius__basic: 10px;

/* Mixins */
@mixin align-middle {
  text-align: center;
  align-items: center;
}

@mixin default-root-div {
  margin: auto;
  max-width: 350px;
}

@mixin default-text {
  color: $gray_dark_text;
  font: {
    size: 13px;
  }
}

@mixin no-text-content {
  user-select: none;
}

@mixin default-root-element {
  @include default-root-div;
  @include no-text-content;
}

@mixin normal-margin-top {
  margin-top: $normal-margin-top;
}
