.header {
  @include default-root-element;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    * {
      margin-bottom: 0;
    }
  }
  .logo.common {
    color: $logo_color_common;
    font: {
      size: $logo_size_common;
    }
  }
  h1.page_title {
    margin: {
      top: 0.3em;
    }
    font: {
      size: $page_title_size_common;
      weight: bold;
    }
  }

  .userprofile {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: $normal_gray;
  }
}