/* Application Identity */
$logo_color_common: #8B8B8B !default;
$logo_size_common: 14px;
$page_title_size_common: 18px;

/* Element: Buttons */
$btn_small_square_size: 20px;
$btn_small_square_radius: 5px;
$btn_small_margin_size: 10px;
$btn_small_padding_size: 5px;

/* Commons */
$dark_gray: #C4C4C4;
$dark_gray__text: #656565;
$normal_gray: #dcdcdc;
$light_gray: #f6f6f6;
$radius__basic: 10px;

/* Mixins */
@mixin align-middle {
  text-align: center;
  align-items: center;
}

@mixin default-root-div {
  margin: auto;
  max-width: 350px;
}

@mixin default-text {
  color: $dark_gray__text;
  font: {
    size: 13px;
  }
}

@mixin no-text-content {
  user-select: none;
}

@mixin default-root-element {
  @include default-root-div;
  @include no-text-content;
}
