.editor {
  @include default-root-div;

  color: $gray_dark_text;

  .editor_topmenu div {
    @include normal-margin-top;

    margin-right: 3px;
  }

  .editor_body {
    @include normal-margin-top;

    position: relative;
    padding: 7px;
    font-size: 13px;
    height: 70vh;
  }

  .textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    height: auto;
    border: none;
    resize: vertical;
    white-space: pre;
  }
  .textarea[contenteditable]:empty::before {
    content: "Type to add a note...";
    color: gray;
  }
  
}