.note_index {
  @include default-root-element;
  @include normal-margin-top;

  .note_frame {
    position: relative;
    margin: 10px 0;
    color: $gray_dark_text;
    background-color: $gray_light;
    border-radius: $radius__basic;
    transition: 0.1s ease-in-out;

    .wrapper {
      min-height: 50px;
      padding: 10px;
    }

    .btn {
      position: absolute;
      z-index: 3;
    }
  }

  .note_frame:hover,
  .note_frame:focus {
    color: white;
    background-color: $gray_dark;
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }

  .note_btn .btn {
    display: none;
  }
}
